apps/n8n/ChatBot.json
{
  "name": "ChatBot",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const messages = $input.all().map((item) => item.json);\n// console.log(messages[0].choices[0].message.content)\n// const emergencyMessages = messages.map((message) => {\n//   const text = message.message.text.toLowerCase();\n//   return text;\n// });\n\n// const isEmergency = emergencyKeywords.some(keyword => \n//   emergencyMessages[0].toLowerCase().includes(keyword)\n// );\n\nreturn {\n  status: messages[0].choices[0].message.content === \"emergency\" ? true : false\n}\n// return { emergencyMessages };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        240
      ],
      "id": "418a34e9-f875-43ba-9cb6-bf53be42fa39",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.yescale.io/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.Token}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n    {\n      \"model\": 'gpt-4o',\n      \"messages\": [\n           {\n                role: \"system\",\n                content: \"Bạn là một trợ lý thông minh. Xác định xem tin nhắn sau có chứa yêu cầu khẩn cấp hay không. Trả lời chỉ với 'emergency' hoặc 'not emergency'\",\n              },\n        { \n        content: $json.chatInput,\n        role: 'user'\n        }\n      ],\n      \"temperature\": 1,\n      \"stream\": false,\n      \"best_of\": 1\n    }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -220
      ],
      "id": "4870cd03-0b85-4bef-8c79-65f10af1a3b0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b96ad2d-e104-48f5-8155-a9b0344426e4",
              "leftValue": "={{ $json.status }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2280,
        40
      ],
      "id": "6a8b6455-ac6a-42ad-b4fb-f957deb8727d",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.URL_APi }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{{ \n\"session_id\": $('When chat message received').item.json.sessionId,\n\"question\":$('When chat message received').item.json.chatInput\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": ""
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        240
      ],
      "id": "7e76ca62-004d-44b1-84bb-c79ea84173ae",
      "name": "HTTP Request2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.URL_APi }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"session_id\":$('When chat message received').item.json.sessionId,\n\"question\":$('When chat message received').item.json.chatInput} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "="
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        -120
      ],
      "id": "d94b3b77-4dd5-434f-8dfc-149ba05fc517",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        520,
        380
      ],
      "id": "01ef1315-8d18-49a7-a9a9-2fcbbbc4aa4c",
      "name": "When chat message received",
      "webhookId": "97a196f3-6d21-4df6-bbcb-ba0dbe7376ae"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0adc53ba-c91c-49cd-95c8-6edc3766a16a",
              "name": "text",
              "value": "=Chúng tôi đã nhận diện tình huống khẩn cấp của bạn. Vui lòng giữ liên lạc và chúng tôi sẽ hỗ trợ bạn ngay lập tức.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        -120
      ],
      "id": "831740fd-dcd0-4056-a2f1-2b18dcc0908e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90cdc263-dd34-4be0-9d12-0b9acf5768ff",
              "name": "text",
              "value": "={{ $json[''] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3120,
        240
      ],
      "id": "72000e3b-acfe-443e-a7c2-c457ba7df228",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90cdc263-dd34-4be0-9d12-0b9acf5768ff",
              "name": "text",
              "value": "={{ $json[''] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        100
      ],
      "id": "d0c2631c-d37e-4048-b8de-d919bc125e4c",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const isPhoneNumber = /^\\d+$/.test(item?.json?.chatInput);\n  return { ...item.json, isPhoneNumber };\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        380
      ],
      "id": "de934bdc-d964-4950-9c9b-3eb914106034",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "340475fa-71ae-4147-ab5e-0bc63583c504",
              "leftValue": false,
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        400
      ],
      "id": "ee3673b1-215f-4482-9b77-077ac41aad80",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "226be37e-4fd9-4b56-9200-395d4658cd56",
              "name": "text",
              "value": "Vui lòng nhập số điện thoại trước",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        600
      ],
      "id": "bd64efee-ad90-4f65-9506-809466b8312b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "insert"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1280,
        280
      ],
      "id": "a832642d-5a9f-44b1-bed6-103e68f7ede1",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').all()[0].json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1380,
        420
      ],
      "id": "06fe6905-f9c6-43cc-a1ae-23ddccab7f77",
      "name": "Window Buffer Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        []
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d05afef-d8de-492a-8956-d0711a2bef44",
  "meta": {
    "instanceId": "ff4974ae6967eee9dfe503b6ff6b2925e4a4b3350a6dff6c2ad44e1a69d56303"
  },
  "id": "xG9sOKIjpjB9bzGv",
  "tags": []
}